[submodule "themes/chunky-poster"]
	path = themes/chunky-poster
	url = https://gitlab.com/virtualcursor/chunky-poster.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/influencer-hugo"]
	path = themes/influencer-hugo
	url = https://github.com/themefisher/Influencer-hugo.git
